<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76230115-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-76230115-2');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- updates and overrides -->

    <link rel="stylesheet" href="/css/style.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/favicon.png"> 

    <title>{{ page.title }}</title>
  </head>
  <body>

    <!-- Bootstrap navbar -->
    <nav class="navbar navbar-sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="t++">
            {{ site.name }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/faq.html">FAQ</a>
            </li>            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarFeatures" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Features
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarFeatures">
                    {% assign mypages = site.pages %}
                    {% for page in mypages %}
                        {% if page.path contains 'features/' %}          
                            <a class="dropdown-item" href="{{ page.url | absolute_url }}">{{ page.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/changelog.html">Changelog</a>
            </li>            
        </ul>
        <span class="navbar-text">
            <a href="https://github.com/terminalpp/terminalpp" target="_blank"><i class="fab fa-github"></i></a>
            &nbsp; v. 0.7.2
        </span>
        </div>
    </nav>

    <!-- page contents -->
    <div class="container-xl">
        &nbsp;

        {{ content }}
        
        <!-- footer -->
        <div class="footer alert alert-light" role="alert">
            Terminal++ by Petr Maj &copy; 2019 - 2020. Released under the MIT license.
        </div>    
    </div>

    <!-- FontAwesome for icons -->
    <script src="https://kit.fontawesome.com/97a9eae21d.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>